* {
	vertical-align: top
}

body{
	width: 100%;
}
input[type="radio"], input[type="checkbox"], label {
	display: inline;
}

head {
	display: none;
}
input:invalid {
	background: #F0C060;
}
input:valid {
	background: white;
}
input:required {
	background: #aaaaaa;
}
fieldset {
	width: 40%;
}

#persDaten {display: block;}


svg, figure, button, option {
	display: inline;
	margin: 0px;
	padding: 0px;
}

